@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-button {
    background-color: #d8b4fe; /* Equivalent to Tailwind's purple-300 */
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .custom-button:hover {
    background-color: #c084fc; /* Equivalent to Tailwind's purple-400 */
  }
  
.progress-container {
  width: 100%;             /* Full width of the container */
  height: 20px;            /* Height of the progress bar */
  background-color: #f3f3f3; /* Background color */
  border-radius: 10px;     /* Rounded corners */
  overflow: hidden;        /* Hides anything beyond the bounds */
}

.progress-bar {
  height: 100%;
  width: 50%;              /* Initial width of the progress (change this dynamically) */
  background-color: #4caf50; /* Green color */
  transition: width 0.25s ease-out; /* Smooth transition for width change */
}
